<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="carousel-image" src="/images/burger_sign_up.jpg"/>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>ORDER ONLINE!</h1>
          <p id="carousel-caption">Skip the lines and pick up ASAP</p>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="/images/burger_sign_up.jpg"/>

      <div class="container">
        <div class="carousel-caption">
          <h1>BNB THURSDAYS!</h1>
          <p id="carousel-caption">Enjoy a Burger and Beer for Only $5.99</p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="/images/burger_sign_up.jpg"/>

      <div class="container">
        <div class="carousel-caption text-end">
          <h1>TRY OUR NEW FAV!</h1>
          <p id="carousel-caption">Crispy Bacon Tuna Belly With Spice Jalapeno Creamy Avocado</p>
          <p><a class="btn btn-lg btn-primary" href="/menu">Browse menu</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
