  <header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">

            <img src="/icons/burger.png" width="20%"/>
            <span class="logo">BURGER HELL<br> 604.555.1234</span>

          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-white">

                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><i class="fa-solid fa-burger"></i></svg>
                Home
              </a>
            </li>
            <!-- <li>
              <a href="/orders" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1 " width="24" height="24"><i class="fa-solid fa-bell-concierge"></i></svg>
                Orders
              </a>
            </li> -->
            <li>
              <a href="/menu" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><i class="fa-solid fa-bars"></i></svg>
                Menu
              </a>
            </li>


            <li>
              <a href="/users/" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><i class="fa-solid fa-dragon"></i></svg>
                My Account
              </a>
            </li>
            <li>
              <div id="btn-login">
                <button type="button" class="btn btn-light text-dark me-2 nomobile">Login</button>
              </div>
            </li>
            <li>

              <div>
                <form method="GET" action="/menu/order">
                <button type="submit" id="btn-cart"class="btn btn-light text-dark">Cart</button></form>
              </form>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- possible stretch -->

    <!-- <div class="px-3 py-2 border-bottom mb-3"> -->
      <!-- <div class="container d-flex flex-wrap justify-content-center"> -->

        <!-- <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
          <input type="search" class="form-control" placeholder="Search item..." aria-label="Search">
        </form> -->

      <!-- </div> -->
    <!-- </div> -->
  </header>

