<!-- <header>
  <nav class="navbar">
    <a class="" href="/">Burger Joint</a>
        <a class="" href="/menu">menu</a>
        <a class="" href="/id">Create account</a>
        <a class="" href="/about">About</a>
  </nav>
</header> -->

<nav class="outer">
  <a class="left" href="/">Buger Joint</a>
  <div class="Right">
    <span class="right">
      <a class="bold" href="/account">Account&nbsp;</a>
      <a class="bold" href="/menu">Menu & Order&nbsp;</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </span
    ><span class="arrow"><i class="fa-solid fa-angles-down"></i></span>
  </div>
</nav>
