<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
<body>
  <%- include('header') %>
  <h1>MENU</h1>
<!-- <div class="menu"> -->

  <div class="row row-cols-md-2 menu">
    <!-- <div class =""> -->
  <!-- <div class="col-md-8 themed-grid-col"> -->

  <!--  <div class="col-md-5 themed-grid-col menu-item">left1</div>
    <div class="col-md-5 themed-grid-col menu-item">left1</div>
    <div class="col-md-5 themed-grid-col ">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    <div class="col-md-5 themed-grid-col">left1</div>
    -->

    <div class="col-md-5 themed-grid-col menu-item">
      <div class="row mb-3">
        <div class="col-md-10 themed-grid-item">
          <div class="pb-3">
            <div>
              <span>Title</span>
              <span>Description</span>
            </div>
          </div>
        </div>
        <div class="col-md-2 themed-grid-item">
          <span>Price</span>
        </div>
      </div>
    </div>

    <div class="col-md-5 themed-grid-col menu-item">
      <div class="row mb-3">
        <div class="col-md-10 themed-grid-item">
          <div class="pb-3">
            <div>
              <span>Title</span>
              <span>Description</span>
            </div>
          </div>
        </div>
        <div class="col-md-2 themed-grid-item">
          <span>Price</span>
        </div>
      </div>
    </div>

    <div class="col-md-5 themed-grid-col menu-item">
      <div class="row mb-3">
        <div class="col-md-10 themed-grid-item">
          <div class="pb-3">
            <div>
              <span>Title</span>
              <span>Description</span>
            </div>
          </div>
        </div>
        <div class="col-md-2 themed-grid-item">
          <span>Price</span>
        </div>
      </div>
    </div>

    <div class="col-md-5 themed-grid-col menu-item">
      <div class="row mb-3">
        <div class="col-md-10 themed-grid-item">
          <div class="pb-3">
            <div>
              <span>Title</span>
              <span>Description</span>
            </div>
          </div>
        </div>
        <div class="col-md-2 themed-grid-item">
          <span>Price</span>
        </div>
      </div>
    </div>

  </div>



</body>

</html>

