<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
<body>
  <%- include('partials/_header') %>
  <h1>Orders</h1>
<!-- <div class="menu"> -->


  <h1>FOOTER</h1>
  <%- include('partials/_footer') %>

</body>

</html>

