<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
<body>
  <%- include('partials/_header') %>
  <h1>Orders</h1>
<!-- <div class="menu"> -->

  <div class="content">
    

    <div>

    </div>

  <%- include('partials/_footer') %>
</div>

</body>

</html>

