<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
<body>
  <%- include('partials/_header') %>
  <h1>My Account</h1>
<!-- <div class="users"> -->




  <h1>FOOTER</h1>
  <%- include('partials/_footer') %>

</body>

</html>

