body {
  overflow: auto;
}


.logo{
  font-size: 2rem;
}
#btn-login{
  margin-top: 30%;
  margin-left: 10px;
}

.foot-icons{
  margin-right: 20px;
}

.btn-arrow-up{

  border: 0;
  background-color: rgb(255, 255, 255);
}

.arrow-up{
  font-size: 2rem;
  color: blue;
}


.about{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#about-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 2rem;

}

#btn-cart{
  margin-top: 25px;
}
