.themed-grid-col {
  height: 100px;
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(137, 133, 120, 0.15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
  padding: .1rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}
.menu-item:hover{
  background-color: rgba(137, 130, 120, 0.26);
}
.menu-item:active{
  background-color: rgba(255, 242, 0, 0.378);
}
.menu{
  display:flex;
  justify-content: center;
}
