
#total-ordered-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}
.added-item{
  display: flex;
  flex-direction: row;
  width:60%;
  justify-content: space-evenly;
  padding: 15px;
  margin: 5px;
  align-items: center;
}
.added-desc{
  text-align: left;
  width:140px;
  padding: 5px;
  margin: 5px;
}


.btn-order{
  background-color: white;
  color: black;
  margin: 15px;
  padding: 2px;
  border: 2px solid;
}

.place-order{
  padding:15px;
}

#place-quantity{
  width:50px;
}
