$active: rgba(243, 24, 24, 0.263);
$complete: aliceblue;

.user-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem;
}

#user-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid #777;
  padding: 1rem;
  margin-left: 1rem;
}

#order-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 25%;

}

.user-line-info{
  margin-top: 3px;
  margin-bottom: 3px;
}

.order-line-info{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px dotted #777;
  padding: 10px;
}
.line-detail-box{
  border-right: 1px dotted #777;
  padding: 10px;
}

.stat-active{
  background-color: $active;
}
.stat-complete{
  background-color: $complete;
}

.line-end-box{
  background-color: $active;
  padding: 10px;
}
.field{
  font-weight: bold;
}
